@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="my-4">Welcome</h1>

    <p>Welcome to NoteGoat! This purposefully vulnerable app is intended to
        help developers to test common vulnerabilities in apps. Feel free to
        explore around and try to discover what vulnerabilities exist in this
        app. Or if you prefer, you can head over to the
        <a asp-controller="Home" asp-action="About" asp-route-redirecturl="@ViewBag.RedirectUrl">cheatsheet</a> and
        follow the instructions to exploit the known vulnerabilities in the app.
    </p>
</div>
